.app-layout {
  display: flex;
  height: 100vh;
  /* background: #f5f6f8; */
}

.app-content {
  flex: 1;
  /* padding: 24px 24px 24px 0; */
  /* overflow-y: auto; */
  /* space the content over to avoid overlapping the fixed sidebar */
  margin-left: 260px;
  background-color: black;
}